<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, inital-scale=1.0" />
  <link href="../../img/favicon.ico" rel="shortcut icon" />
  <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />
  <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/assignment.css" />
  <script src="include.js"></script>
</head>

<body>
  <!-- 양도 -->
  <div class="wrap assignment person2 main">
    <!-- headerWrap -->
    <div class="header_wrap" w3-include-html="./include/header.html"></div>
    <!-- headerWrap -->

    <section class="sub-top">
    </section>

    <main>
      <!-- <aside w3-include-html="./include/aside.html"></aside> -->

      <article>
        <section>
          <div class="left-wrap">
            <!-- main-text-wrap -->
            <div class="main-text-wrap">

              <!-- sub-title-wrap -->
              <div class="sub-title-wrap">
                <span class="title">SK렌터카에서는 매주 새로운 차량이 입고됩니다.<br />
                  현재 <em>103</em>대 구매가능하십니다.</span>
              </div>
              <!-- //sub-title-wrap -->

              <div class="title-sub">이달의 양도현황</div>

              <!-- info-text-wrap -->
              <div class="info-text-wrap">
                <ul>
                  <li>
                    <div class="text-box">
                      <span class="tit">신규 선점 차량</span>
                      <span class="desc">223</span>
                    </div>
                  </li>
                  <li>
                    <div class="text-box">
                      <span class="tit">구매 확정 차량</span>
                      <span class="desc">192</span>
                    </div>
                  </li>
                  <li>
                    <div class="text-box">
                      <span class="tit">구매 대금(원)</span>
                      <span class="desc shape">153,080,000</span>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- //info-text-wrap -->

              <div class="btn-wrap">
                <div class="btn-box">
                  <a class="btn-text-link">마이페이지</a>
                </div>
              </div>
            </div>
            <!-- //main-text-wrap -->
          </div>

        </section>

        <section>
          <div class="contents-wrap">

            <!-- main-title-wrap -->
            <div class="content-title-wrap">
              <span class="title"><span class="badge end">판매종료</span>2023년 7월 4주차 신규차량</span>
              <span class="title-desc">판매종료되었습니다</span>
            </div>
            <!-- //main-title-wrap -->

            <!-- nodata-wrap -->
            <div class="nodata-wrap">
              <p class="img"></p>
              <p class="desc">판매중인 차량이 없습니다.</p>
            </div>
            <!-- //nodata-wrap -->

            <!-- notice-wrap -->
            <div class="notice-wrap">
              <div class="title">공지사항</div>
              <ul>
                <li>공지사항 제목이 출력됩니다.</li>
                <li>공지사항 제목이 출력됩니다.</li>
                <li>공지사항 제목이 출력됩니다.</li>
              </ul>
              <div class="more"><a href="#none">더보기</a></div>
            </div>
            <!-- //notice-wrap -->

          </div>

        </section>

      </article>

      <!-- quick -->
      <!-- <article class="quick" w3-include-html="./include/quick.html"></article> -->
      <!-- //quick -->
    </main>

    <!-- footer -->
    <footer w3-include-html="./include/footer.html"></footer>
    <!-- //footer -->
  </div>
</body>
<script src="../../../assets/pc/js/ui.js"></script>
<script>
  includeHTML(); //퍼블용

  //아코디언
  // const items = document.querySelectorAll(".accordion button");

  // function toggleAccordion() {
  //   const itemToggle = this.getAttribute("aria-expanded");

  //   for (i = 0; i < items.length; i++) {
  //     items[i].setAttribute("aria-expanded", "false");
  //   }

  //   if (itemToggle == "false") {
  //     this.setAttribute("aria-expanded", "true");
  //   }
  // }

  // items.forEach((item) => item.addEventListener("click", toggleAccordion));
</script>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>

<script>
  let slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("demo");
    let captionText = document.getElementById("caption");
    if (n > slides.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
    captionText.innerHTML = dots[slideIndex - 1].alt;
  }
</script>

</html>