<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, inital-scale=1.0" />
  <link href="../../img/favicon.ico" rel="shortcut icon" />
  <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />
  <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/extra.css" />
  <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/assignment.css" />
  <script src="include.js"></script>
</head>

<body>
  <!-- 양도 -->
  <div class="wrap assignment person2 detail">
    <!-- headerWrap -->
    <div class="header_wrap" w3-include-html="./include/header.html"></div>
    <!-- headerWrap -->

    <section class="sub-top search-result-wrap">
      <!-- <div class="title-wrap">
        <div class="title">2023년 7월 4주차 판매차량</div>
        <div class="title-desc">판매종료까지 <span class="time">02:53:25</span> 남았습니다.</div>
        <div class="first-wrap">
          <div class="title"><span>출품차량</span> <strong>1,052</strong><span>대</span>
            <p class="period">( 판매기간 <span class="date">2023.07.23 ~ 2023.07.31 12:00</span> )</p>
          </div>
          <div class="title-desc">
            <span class="stit">선점한 차량</span>
            <span class="ea">52대</span>
            <span class="car-img"
              style="background-image: url(../../../assets/pc/img/assignment/img_car_01.png);"></span>
            <button type="button" class="btn-car">나의 선점 차량</button>
          </div>
        </div>
      </div> -->
    </section>

    <main>
      <!-- <aside w3-include-html="./include/aside.html"></aside> -->

      <article>
        <!-- <section>
          <div class="page-title title-wrap">
            <div class="title">탁송관리</div>
            <div class="title-desc">SK 렌터카의 탁송관리 시스템입니다.</div>
          </div>
        </section> -->
        <section>
          <div class="left-wrap">

            <!-- slide-wrap -->
            <div class="slide-wrap">
              <div class="mySlides">
                <div class="numbertext">1 / 13</div>
                <img src="../../../assets/pc/img/assignment/img_slider_car03.png" style="width:100%">
              </div>
              <div class="mySlides">
                <div class="numbertext">2 / 13</div>
                <img src="../../../assets/pc/img/assignment/img_slider_car01.jpg" style="width:100%">
              </div>
              <div class="mySlides">
                <div class="numbertext">3 / 13</div>
                <img src="../../../assets/pc/img/assignment/img_slider_car02.jpg" style="width:100%">
              </div>
              <div class="mySlides">
                <div class="numbertext">4 / 13</div>
                <img src="../../../assets/pc/img/assignment/img_slider_car01.jpg" style="width:100%">
              </div>
              <div class="mySlides">
                <div class="numbertext">5 / 13</div>
                <img src="../../../assets/pc/img/assignment/img_slider_car02.jpg" style="width:100%">
              </div>
              <div class="mySlides">
                <div class="numbertext">6 / 13</div>
                <img src="../../../assets/pc/img/assignment/img_slider_car01.jpg" style="width:100%">
              </div>
              <div class="mySlides">
                <div class="numbertext">7 / 13</div>
                <img src="../../../assets/pc/img/assignment/img_slider_car02.jpg" style="width:100%">
              </div>
              <div class="mySlides">
                <div class="numbertext">8 / 13</div>
                <img src="../../../assets/pc/img/assignment/img_slider_car01.jpg" style="width:100%">
              </div>
              <div class="mySlides">
                <div class="numbertext">9 / 13</div>
                <img src="../../../assets/pc/img/assignment/img_slider_car02.jpg" style="width:100%">
              </div>
              <div class="mySlides">
                <div class="numbertext">10 / 13</div>
                <img src="../../../assets/pc/img/assignment/img_slider_car01.jpg" style="width:100%">
              </div>
              <div class="mySlides">
                <div class="numbertext">11 / 13</div>
                <img src="../../../assets/pc/img/assignment/img_slider_car02.jpg" style="width:100%">
              </div>
              <div class="mySlides">
                <div class="numbertext">12 / 13</div>
                <img src="../../../assets/pc/img/assignment/img_slider_car01.jpg" style="width:100%">
              </div>
              <div class="mySlides">
                <div class="numbertext">13 / 13</div>
                <img src="../../../assets/pc/img/assignment/img_slider_car01.jpg" style="width:100%">
              </div>

              <a class="prev" onclick="plusSlides(-1)">
                <img src="../../../assets/pc/img/assignment/img_slide_pre.svg" style="width:100%"></a>
              <a class="next" onclick="plusSlides(1)">
                <img src="../../../assets/pc/img/assignment/img_slide_next.svg" style="width:100%"></a>
              </a>

              <div class="row">
                <div class="column">
                  <img class="demo cursor" src="../../../assets/pc/img/assignment/img_slider_car01_s.png"
                    style="width:100%" onclick="currentSlide(1)" alt="The Woods">
                </div>
                <div class="column">
                  <img class="demo cursor" src="../../../assets/pc/img/assignment/img_slider_car01_s.png"
                    style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
                </div>
                <div class="column">
                  <img class="demo cursor" src="../../../assets/pc/img/assignment/img_slider_car01_s.png"
                    style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
                </div>
                <div class="column">
                  <img class="demo cursor" src="../../../assets/pc/img/assignment/img_slider_car01_s.png"
                    style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
                </div>
                <div class="column">
                  <img class="demo cursor" src="../../../assets/pc/img/assignment/img_slider_car01_s.png"
                    style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
                </div>
                <div class="column">
                  <img class="demo cursor" src="../../../assets/pc/img/assignment/img_slider_car01_s.png"
                    style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
                </div>
                <div class="column">
                  <img class="demo cursor" src="../../../assets/pc/img/assignment/img_slider_car01_s.png"
                    style="width:100%" onclick="currentSlide(7)" alt="The Woods">
                </div>
                <div class="column">
                  <img class="demo cursor" src="../../../assets/pc/img/assignment/img_slider_car01_s.png"
                    style="width:100%" onclick="currentSlide(8)" alt="Cinque Terre">
                </div>
                <div class="column">
                  <img class="demo cursor" src="../../../assets/pc/img/assignment/img_slider_car01_s.png"
                    style="width:100%" onclick="currentSlide(9)" alt="Mountains and fjords">
                </div>
                <div class="column">
                  <img class="demo cursor" src="../../../assets/pc/img/assignment/img_slider_car01_s.png"
                    style="width:100%" onclick="currentSlide(10)" alt="Northern Lights">
                </div>
                <div class="column">
                  <img class="demo cursor" src="../../../assets/pc/img/assignment/img_slider_car01_s.png"
                    style="width:100%" onclick="currentSlide(11)" alt="Nature and sunrise">
                </div>
                <div class="column">
                  <img class="demo cursor" src="../../../assets/pc/img/assignment/img_slider_car01_s.png"
                    style="width:100%" onclick="currentSlide(12)" alt="Snowy Mountains">
                </div>
                <div class="column">
                  <img class="demo cursor" src="../../../assets/pc/img/assignment/img_slider_car01_s.png"
                    style="width:100%" onclick="currentSlide(13)" alt="Snowy Mountains">
                </div>
              </div>
            </div>
            <!-- //slide-wrap -->

            <!-- sub-link-wrap -->
            <div class="sub-link-wrap">
              <div class="btn-box">
                <a class="btn-quick active">기본정보</a>
                <a class="btn-quick">성능/점검</a>
                <a class="btn-quick">차량옵션</a>
                <a class="btn-quick">사고/보험이력</a>
              </div>
            </div>
            <!-- //sub-link-wrap -->

            <!-- sub-title-wrap -->
            <div class="sub-title-wrap">
              <span class="title">지금 보고 계신 <br />
                차량의 기본 정보를 알려드려요
                <img src="../../../assets/pc/img/assignment/img_title_01.svg" alt=""></span>
              <span class="title-desc">차량번호 및 주행거리 등 기본적인 정보를 확인하세요</span>
            </div>
            <!-- //sub-title-wrap -->

            <!-- car-infomation-wrap -->
            <div class="car-infomation-wrap">
              <div class="title car">차량 기본 정보</div>

              <!-- info-icon-wrap -->
              <div class="info-icon-wrap">
                <ul>
                  <li>
                    <div class="icon-box">
                      <span class="ico"><img src="../../../assets/pc/img/assignment/img_car_big_01.svg" alt=""></span>
                      <span class="tit">차량번호</span>
                      <span class="desc">322가1234</span>
                    </div>
                  </li>
                  <li>
                    <div class="icon-box">
                      <span class="ico"><img src="../../../assets/pc/img/assignment/img_car_big_02.svg" alt=""></span>
                      <span class="tit">연료</span>
                      <span class="desc">EV</span>
                    </div>
                  </li>
                  <li>
                    <div class="icon-box">
                      <span class="ico"><img src="../../../assets/pc/img/assignment/img_car_big_03.svg" alt=""></span>
                      <span class="tit">연식</span>
                      <span class="desc">2022</span>
                    </div>
                  </li>
                  <li>
                    <div class="icon-box">
                      <span class="ico"><img src="../../../assets/pc/img/assignment/img_car_big_04.svg" alt=""></span>
                      <span class="tit">주행거리</span>
                      <span class="desc">16,556km</span>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- //info-icon-wrap -->

              <!-- info-wrap -->
              <div class="info-view-wrap">
                <ul class="info-box half">
                  <li>
                    <div class="cont-box">
                      <div class="title">
                        <span>모델명</span>
                      </div>
                      <div class="content">
                        볼트 EV O LT AT 리튬이온 2019 퓨어화이트
                      </div>
                    </div>
                  </li>
                </ul>
                <ul class="info-box">
                  <li>
                    <div class="cont-box">
                      <div class="title">
                        <span>차정</span>
                      </div>
                      <div class="content">
                        중형
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="cont-box">
                      <div class="title">
                        <span>차종</span>
                      </div>
                      <div class="content">
                        K5
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="cont-box">
                      <div class="title">
                        <span>차종</span>
                      </div>
                      <div class="content">
                        K5
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="cont-box">
                      <div class="title">
                        <span>배기량</span>
                      </div>
                      <div class="content">
                        1,935cc
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="cont-box">
                      <div class="title">
                        <span>최초등록일</span>
                      </div>
                      <div class="content">
                        2020-04-23
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="cont-box">
                      <div class="title">
                        <span>색상</span>
                      </div>
                      <div class="content">
                        스노우 화이트 펄(SWP)
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="cont-box">
                      <div class="title">
                        <span>차령</span>
                      </div>
                      <div class="content">
                        17
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="cont-box">
                      <div class="title">
                        <span>신차가격</span>
                      </div>
                      <div class="content">
                        7,200만원
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- //info-wrap -->
            </div>
            <!-- //car-infomation-wrap -->

            <!-- sub-title-wrap -->
            <div class="sub-title-wrap">
              <span class="title">이 차량의 <br /> 옵션 정보를 알려드려요
                <img src="../../../assets/pc/img/assignment/img_title_02.svg" alt="">
              </span>
              <span class="title-desc">이 차량에는 아래의 차량옵션들이 장착되어 있어요</span>
            </div>
            <!-- //sub-title-wrap -->

            <!-- car-infomation-wrap -->
            <div class="car-infomation-wrap">
              <div class="title option">장착된 옵션 15개</div>
              <div class="btn-box option">
                <div class="btn"><a>네비게이션</a></div>
                <div class="btn"><a>썬루프</a></div>
                <div class="btn"><a>자율주행 시스템(WBS)</a></div>
                <div class="btn"><a>옵션명 4</a></div>
                <div class="btn"><a>옵션명 5</a></div>
                <div class="btn"><a>옵션명 6</a></div>
                <div class="btn"><a>옵션명 6</a></div>
                <div class="btn"><a>옵션명 6</a></div>
                <div class="btn"><a>옵션명 6</a></div>
                <div class="btn"><a>옵션명이 길게길게 길게 나오는 경우</a></div>
                <div class="btn"><a>옵션명이 길게 나오는 경우</a></div>
                <div class="btn"><a>자율주행 시스템(WBS)</a></div>
                <div class="btn"><a>네비게이션</a></div>
                <div class="btn"><a>썬루프</a></div>
                <div class="btn"><a>자율주행 시스템(WBS)</a></div>
              </div>
            </div>
            <!-- //car-infomation-wrap -->

            <!-- sub-title-wrap -->
            <div class="sub-title-wrap">
              <span class="title">이 차량의<br /> 성능/점검정보를 알려드려요
                <img src="../../../assets/pc/img/assignment/img_title_03.svg" alt="">
              </span>
              <span class="title-desc">수리내역 및 수리가 필요한 부위 및 차량의 상세한 상태정보를 확인하세요</span>
            </div>
            <!-- //sub-title-wrap -->

            <!-- car-infomation-wrap -->
            <div class="car-infomation-wrap">
              <div class="status-wrap">
                <div class="status-block">
                  <span>사고내역</span>
                  <span>앞도어 운전석</span>
                </div>
                <div class="status-block">
                  <span>수리내역</span>
                  <span>앞자리 운전석</span>
                </div>
                <div class="status-block">
                  <span>수리필요</span>
                  <span>사이드실패널조수석, 뒤범퍼, 뒤팬더운전석</span>
                </div>
                <div class="status-block">
                  <span>특이사항</span>
                  <span>업무용 스티커 부착, 엔진오일 누유, 공조장치 불량, 스티어링(MDPS포함) 불량,
                    실내내장재 불량, 실내시트 불량</span>
                </div>
              </div>
            </div>
            <!-- //car-infomation-wrap -->

            <!-- sub-title-wrap -->
            <div class="sub-title-wrap">
              <span class="title">이제 이 차량의 사고/보험이력정보를 <br />
                알려드릴께요</span>
              <span class="title-desc">상세한 사고보험이력을 확인하시고 싶으시다면, 아래의 자세한 보험이력 확인버튼을 통해 확인하실 수 있어요</span>
            </div>
            <!-- //sub-title-wrap -->

            <!-- car-infomation-wrap -->
            <div class="car-infomation-wrap big">
              <!-- info-icon-wrap -->
              <div class="info-icon-wrap">
                <ul>
                  <li>
                    <div class="icon-box">
                      <span class="ico"><img src="../../../assets/pc/img/assignment/img_car_big_01.svg"
                          alt="용도이력"></span>
                      <span class="tit">용도이력</span>
                      <span class="desc">없음</span>
                    </div>
                  </li>
                  <li>
                    <div class="icon-box">
                      <span class="ico"><img src="../../../assets/pc/img/assignment/img_car_big_02.svg"
                          alt="차량번호 변경"></span>
                      <span class="tit">차량번호 변경</span>
                      <span class="desc">1회</span>
                    </div>
                  </li>
                  <li>
                    <div class="icon-box">
                      <span class="ico"><img src="../../../assets/pc/img/assignment/img_car_big_03.svg"
                          alt="소유자 변경"></span>
                      <span class="tit">소유자 변경</span>
                      <span class="desc">2회</span>
                    </div>
                  </li>
                  <li>
                    <div class="icon-box">
                      <span class="ico"><img src="../../../assets/pc/img/assignment/img_car_big_04.svg"
                          alt="전손사고"></span>
                      <span class="tit">전손사고</span>
                      <span class="desc">1건</span>
                    </div>
                  </li>
                  <li>
                    <div class="icon-box">
                      <span class="ico"><img src="../../../assets/pc/img/assignment/img_car_big_01.svg"
                          alt="도난사고"></span>
                      <span class="tit">도난사고</span>
                      <span class="desc">없음</span>
                    </div>
                  </li>
                  <li>
                    <div class="icon-box">
                      <span class="ico"><img src="../../../assets/pc/img/assignment/img_car_big_02.svg"
                          alt="침수사고"></span>
                      <span class="tit">침수사고</span>
                      <span class="desc">없음</span>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- //info-icon-wrap -->

              <!-- guide-wrap -->
              <div class="guide-wrap">

                <!-- divide-wrap -->
                <div class="divide-wrap">
                  <div class="status-wrap">
                    <div class="title option">내차피해</div>
                    <div class="status-block">
                      <span>횟수</span>
                      <span>0회</span>
                    </div>
                    <div class="status-block">
                      <span>총 보험금액</span>
                      <span>0원</span>
                    </div>
                  </div>
                  <div class="status-wrap">
                    <div class="title option">타차피해</div>
                    <div class="status-block">
                      <span>횟수</span>
                      <span>0회</span>
                    </div>
                    <div class="status-block">
                      <span>총 보험금액</span>
                      <span>0원</span>
                    </div>
                  </div>
                </div>
                <!-- //divide-wrap -->

                <!-- detail-wrap -->
                <div class="detail-wrap">
                  <a>자세한 보험이력을 확인하시려면 클릭하세요</a>
                </div>
                <!-- //detail-wrap -->

              </div>
              <!-- //guide-wrap -->

            </div>
            <!-- //car-infomation-wrap -->

            <!-- info-icon-wrap -->
            <!-- <div class="info-icon-wrap big">
              <ul>
                <li>
                  <div class="icon-box">
                    <span class="ico"><img src="../../../assets/pc/img/assignment/img_car_big_01.svg" alt=""></span>
                    <span class="tit"><em>C</em>부식</span>
                    <span class="desc">없음</span>
                  </div>
                </li>
                <li>
                  <div class="icon-box">
                    <span class="ico"><img src="../../../assets/pc/img/assignment/img_car_big_02.svg" alt=""></span>
                    <span class="tit"><em>W</em>판금</span>
                    <span class="desc">없음</span>
                  </div>
                </li>
                <li>
                  <div class="icon-box">
                    <span class="ico"><img src="../../../assets/pc/img/assignment/img_car_big_03.svg" alt=""></span>
                    <span class="tit"><em>X</em>교환</span>
                    <span class="desc">없음</span>
                  </div>
                </li>
                <li>
                  <div class="icon-box">
                    <span class="ico"><img src="../../../assets/pc/img/assignment/img_car_big_04.svg" alt=""></span>
                    <span class="tit"><em>A</em>긁힘</span>
                    <span class="desc">없음</span>
                  </div>
                </li>
                <li>
                  <div class="icon-box">
                    <span class="ico"><img src="../../../assets/pc/img/assignment/img_car_big_05.svg" alt=""></span>
                    <span class="tit"><em>U</em>요철</span>
                    <span class="desc">없음</span>
                  </div>
                </li>
                <li>
                  <div class="icon-box">
                    <span class="ico"><img src="../../../assets/pc/img/assignment/img_car_big_06.svg" alt=""></span>
                    <span class="tit"><em>T</em>깨짐</span>
                    <span class="desc">없음</span>
                  </div>
                </li>
              </ul>
            </div> -->
            <!-- //info-icon-wrap -->

        </section>

      </article>

      <aside>
        <!-- car-info-wrap -->
        <div class="car-info-wrap">
          <div class="car-info-input-wrap">
            <ul class="car-info-box">
              <li>
                <div class="title-wrap">
                  <div class="btn-box">
                    <button type="button" class="btn-favorite"><span></span></button>
                  </div>
                  <div class="logo"><img src="../../../assets/pc/img/assignment/img_logo_01.svg" alt="현대자동차" /></div>
                  <div class="title">볼트 EV O LT AT 리튬이온 2019 퓨어화이트</div>
                </div>
              </li>
              <li>
                <div class="info-wrap">
                  <div class="pdt-info">
                    <p class="car-number">324가2456</p>
                    <p class="car-option">
                      <span>2020년식</span><span>100,444km</span><span>휘발유</span>
                    </p>
                    <p class="car-grade">
                      <span class="grade">사고등급A</span><span class="grade">외관등급 B</span>
                    </p>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="car-info-input-box">
              <li>
                <div class="amount-wrap">
                  <div class="title">판매가</div>
                  <div class="amount">
                    36,970,000원
                  </div>
                </div>
              </li>
              <li>
                <div class="sub-wrap">
                  <div class="amount-wrap">
                    <div class="title">현재 예약최고가</div>
                    <div class="amount">
                      37,780,000 원
                    </div>
                  </div>
                  <div class="amount-wrap">
                    <div class="title">나의 입찰순위</div>
                    <div class="amount">
                      5위
                    </div>
                  </div>
                </div>
              </li>
              <li class="amount">
                <div class="input-wrap">
                  <div class="title">구매 희망가</div>
                  <div class="input-box">
                    <input class="w170 stress" type="search" value="30,000">
                    <span class="unit">원</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <ul class="button-wrap">
            <li class="selection">
              <p>나의 선점차량</p>
            </li>
          </ul>
        </div>
        <!-- //car-info-wrap -->

        <!-- banner-wrap -->
        <div class="banner-wrap">
          <button type="button" class="btn-base active"><span>차량기본정보</span></button>
          <button type="button" class="btn-performance"><span>성능/점검정보</span></button>
          <button type="button" class="btn-option"><span>차량옵션정보</span></button>
          <button type="button" class="btn-insurance"><span>사고/보험이력</span></button>
        </div>
        <!-- //banner-wrap -->

        <!-- <script>
          var acc = document.getElementsByClassName("accordion");
          var i;
        
          for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
              this.classList.toggle("active");
              var panel = this.nextElementSibling;
              if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
              } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
              }
            });
          }
        </script> -->
      </aside>

      <!-- quick -->
      <!-- <article class="quick" w3-include-html="./include/quick.html"></article> -->
      <!-- //quick -->
    </main>

    <!-- footer -->
    <footer w3-include-html="./include/footer.html"></footer>
    <!-- //footer -->
  </div>
</body>
<script src="../../../assets/pc/js/ui.js"></script>
<script>
  includeHTML(); //퍼블용

  //아코디언
  // const items = document.querySelectorAll(".accordion button");

  // function toggleAccordion() {
  //   const itemToggle = this.getAttribute("aria-expanded");

  //   for (i = 0; i < items.length; i++) {
  //     items[i].setAttribute("aria-expanded", "false");
  //   }

  //   if (itemToggle == "false") {
  //     this.setAttribute("aria-expanded", "true");
  //   }
  // }

  // items.forEach((item) => item.addEventListener("click", toggleAccordion));
</script>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>

<script>
  let slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("demo");
    let captionText = document.getElementById("caption");
    if (n > slides.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
    captionText.innerHTML = dots[slideIndex - 1].alt;
  }
</script>

</html>