<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, inital-scale=1.0" />
  <link href="../../img/favicon.ico" rel="shortcut icon" />
  <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />
  <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/extra.css" />
  <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/assignment.css" />
  <script src="include.js"></script>
</head>

<body>
  <!-- 양도 -->
  <div class="wrap assignment person2">
    <!-- headerWrap -->
    <div class="header_wrap" w3-include-html="./include/header.html"></div>
    <!-- headerWrap -->

    <section class="sub-top search-result-wrap">
      <div class="title-wrap">
        <div class="title">2023년 07월 4주차 SK렌트카 판매차량</div>
        <div class="title-desc">판매종료까지 <span class="time">02:53:25</span> 남았습니다.</div>
        <div class="first-wrap">
          <div class="title"><span>출품차량</span> <strong>1,052</strong><span>대</span>
            <p class="period">( 판매기간 <span class="date">2023.07.23 ~ 2023.07.31 12:00</span> )</p>
          </div>
          <div class="title-desc">
            <span class="stit">선점한 차량</span>
            <span class="ea">52대</span>
            <span class="car-img"
              style="background-image: url(../../../assets/pc/img/assignment/img_car_01.png);"></span>
          </div>
          <div class="title-desc">
            <button type="button" class="btn-car">나의 선점 차량</button>
          </div>
        </div>
      </div>
    </section>

    <main>
      <!-- <aside w3-include-html="./include/aside.html"></aside> -->

      <aside>
        <div class="side-filter">
          <div class="title">
            <div>
              <p>차량검색</p>
              <p>총 <span class="num">724</span>대</p>
            </div>
            <button type="reset" class="filter-reset"><span class="hide-txt">필터 초기화</span></button>
          </div>

          <div class="filter-group accordion">제조사 <span>2개 선택</span></div>
          <div class="filter-item hide panel">
            <div class="filter-content">
              <ul class="check-radio-box">
                <li>
                  <div class="check-radio col">
                    <p>
                      <input type="checkbox" id="checkbox0">
                      <label for="checkbox0">전체</label>
                      <span><img src="../../../assets/pc/img/assignment/ico_model_delete.svg" alt="삭제"></span>
                    </p>
                    <p>
                      <input type="checkbox" id="checkbox1">
                      <label for="checkbox1">
                        현대자동차
                      </label>
                      <span><img src="../../../assets/pc/img/assignment/ico_model_delete.svg" alt="삭제"></span>
                    </p>
                    <p>
                      <input type="checkbox" id="checkbox2">
                      <label for="checkbox2">
                        기아자동차</label>
                      <span><img src="../../../assets/pc/img/assignment/ico_model_delete.svg" alt="삭제"></span>
                    </p>
                  </div>
                  <ul>
                    <li>
                      <div class="check-radio col">
                        <p>
                          <input type="checkbox" id="checkbox10">
                          <label for="checkbox10">K7</label>
                          <span>100</span>
                        </p>
                        <p>
                          <input type="checkbox" id="checkbox11">
                          <label for="checkbox11">K5</label>
                          <span>100</span>
                        </p>
                      </div>
                      <ul>
                        <li>
                          <div class="check-radio col">
                            <p>
                              <input type="checkbox" id="checkbox20">
                              <label for="checkbox20">K5 하이브리드 K5 하이브리드 K5 하이브리드 </label>
                              <span>0</span>
                            </p>
                            <p>
                              <input type="checkbox" id="checkbox21">
                              <label for="checkbox21">뉴 신형 K5</label>
                              <span>0</span>
                            </p>
                            <p>
                              <input type="checkbox" id="checkbox22">
                              <label for="checkbox22">2.0 가솔린</label>
                              <span>0</span>
                            </p>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <div class="filter-group accordion">주행거리(km) <span>70,000 ~ 100,000</span></div>
          <div class="filter-item hide panel">
            <div class="filter-content">
              <div class="cont-box">
                <div>
                  <div class="select-wrap">
                    <span class="select-box">
                      <select name="select01" id="select" class="option01">
                        <option value="" selected="">선택</option>
                        <option value="001">001</option>
                        <option value="002">002</option>
                        <option value="003">003</option>
                      </select>
                    </span>
                  </div>
                  <div class="select-wrap">
                    <span class="select-box">
                      <select name="select01" id="select" class="option01">
                        <option value="" selected="">선택</option>
                        <option value="001">001</option>
                        <option value="002">002</option>
                        <option value="003">003</option>
                      </select>
                    </span>
                  </div>
                </div>
                <div class="stepper-wrap">
                  <ol class="stepper">
                    <li class="item">
                      <h3 class="title">0 km</h3>
                    </li>
                    <li class="item">
                      <h3 class="title">200,000km 이상</h3>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>

          <div class="filter-group accordion">차량구분 <span>2개 선택</span></div>
          <div class="filter-item hide panel">
            <div class="filter-content">
              <div class="cont-box">
                <div class="button-wrap">
                  <ol>
                    <li>
                      <button type="button">경차</button>
                      <button type="button">소형</button>
                      <button type="button">준중형</button>
                      <button type="button">중형</button>
                      <button type="button" class="active">대형</button>
                      <button type="button">특대형</button>
                      <button type="button">소형디젤</button>
                      <button type="button">RV</button>
                      <button type="button">승합</button>
                      <button type="button">화물</button>
                      <button type="button">버스</button>
                      <button type="button">LPG</button>
                      <button type="button">하이브리드(G)</button>
                      <button type="button" class="active">하이브리드(L)</button>
                      <button type="button">전기</button>
                      <button type="button">수입차</button>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>

          <div class="filter-group accordion">입찰여부 <span>1개 선택</span></div>
          <div class="filter-item hide panel">
            <div class="filter-content">
              <div class="cont-box">
                <div class="button-wrap">
                  <ol>
                    <li>
                      <button type="button" class="active">입찰</button>
                      <button type="button">미입찰</button>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <script>
          var acc = document.getElementsByClassName("accordion");
          var i;
        
          for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
              this.classList.toggle("active");
              var panel = this.nextElementSibling;
              if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
              } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
              }
            });
          }
        </script> -->
      </aside>

      <article>
        <section>
          <div class="right-wrap">

            <!-- keyword-wrap -->
            <div class="keyword-wrap view">
              <div class="btn-box left">
                <div class="keyword"><a>현대 > k5</a><span></span></div>
                <div class="keyword"><a>기아</a><span></span></div>
                <div class="keyword"><a>가솔린</a><span></span></div>
              </div>
              <div class="btn-box right">
                <button class="btn-default ico-only reload"></button>
              </div>
            </div>
            <!-- //keyword-wrap -->

            <!-- car-search-wrap -->
            <div class="car-search-wrap">
              <span class="result">검색결과 <strong>25</strong>대</span>
            </div>
            <!-- //car-search-wrap -->

            <!-- sort-wrap -->
            <div class="sort-wrap">
              <div class="sort-block">
                <span class="active">가격 낮은 순</span>
                <span>가격 높은 순</span>
                <span>주행거리 낮은 순</span>
                <span>주행거리 높은 순</span>
              </div>
              <div class="toggle-block">
                <span class="list"></span>
                <span class="list active"></span>
                <span class="card"></span>
                <span class="card active"></span>
              </div>
            </div>
            <!-- //sort-wrap -->

            <!-- search-result -->
            <div class="search-result">
              <ul class="car-list">
                <li>
                  <a class="car-link-wrap">
                    <div class="thumb" style="background-image: url(../../../assets/pc/img/assignment/img_car01.jpg);">
                    </div>
                    <div class="info-wrap">
                      <div class="pdt-info">
                        <p class="car-title">기아 신형 쏘렌토 (MQ4) 2.2 디젤 2WD 시그니처</p>
                        <p class="car-option">
                          <span>2020년식</span><span>100,444km</span><span>휘발유</span>
                          <span class="date">
                            최초등록일 2020.06.09
                          </span>
                          <span class="grade">사고등급A</span><span class="grade">외관등급 B</span>
                        </p>
                        <div class="car-price">
                          <div class="price">
                            <span class="default-price"><em>2,250</em> <i>만원</i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <div class="btn-status-wrap">
                    <div class="status-box">
                      <span>위탁종료임박</span>
                    </div>
                  </div>
                </li>
                <li>
                  <a class="car-link-wrap">
                    <div class="thumb" style="background-image: url(../../../assets/pc/img/assignment/img_car01.jpg);">
                    </div>
                    <div class="info-wrap">
                      <div class="pdt-info">
                        <p class="car-title">기아 신형 쏘렌토 (MQ4) 2.2 디젤 2WD 시그니처</p>
                        <p class="car-option">
                          <span>2020년식</span><span>100,444km</span><span>휘발유</span>
                          <span class="date">
                            최초등록일 2020.06.09
                          </span>
                          <span class="grade">사고등급A</span><span class="grade">외관등급 B</span>
                        </p>
                        <div class="car-price">
                          <div class="price">
                            <span class="default-price"><em>2,250</em> <i>만원</i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <div class="btn-status-wrap">
                    <div class="status-box">
                      <span>위탁종료임박</span>
                    </div>
                  </div>
                </li>
                <li>
                  <a class="car-link-wrap">
                    <div class="thumb" style="background-image: url(../../../assets/pc/img/assignment/img_car01.jpg);">
                    </div>
                    <div class="info-wrap">
                      <div class="pdt-info">
                        <p class="car-title">기아 신형 쏘렌토 (MQ4) 2.2 디젤 2WD 시그니처</p>
                        <p class="car-option">
                          <span>2020년식</span><span>100,444km</span><span>휘발유</span>
                          <span class="date">
                            최초등록일 2020.06.09
                          </span>
                          <span class="grade">사고등급A</span><span class="grade">외관등급 B</span>
                        </p>
                        <div class="car-price">
                          <div class="price">
                            <span class="default-price"><em>2,250</em> <i>만원</i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <div class="btn-status-wrap">
                    <div class="status-box">
                      <span>위탁종료임박</span>
                    </div>
                  </div>
                </li>
                <li>
                  <a class="car-link-wrap">
                    <div class="thumb" style="background-image: url(../../../assets/pc/img/assignment/img_car01.jpg);">
                    </div>
                    <div class="info-wrap">
                      <div class="pdt-info">
                        <p class="car-title">기아 신형 쏘렌토 (MQ4) 2.2 디젤 2WD 시그니처</p>
                        <p class="car-option">
                          <span>2020년식</span><span>100,444km</span><span>휘발유</span>
                          <span class="date">
                            최초등록일 2020.06.09
                          </span>
                          <span class="grade">사고등급A</span><span class="grade">외관등급 B</span>
                        </p>
                        <div class="car-price">
                          <div class="price">
                            <span class="default-price"><em>2,250</em> <i>만원</i></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <div class="btn-status-wrap">
                    <div class="status-box">
                      <span>위탁종료임박</span>
                    </div>
                  </div>
                </li>
                <li>
                  <a class="car-link-wrap">
                    <div class="thumb" style="background-image: url(../../../assets/pc/img/assignment/img_car01.jpg);">
                    </div>
                    <div class="info-wrap">
                      <div class="pdt-info">
                        <p class="car-title">기아 신형 쏘렌토 (MQ4) 2.2 디젤 2WD 시그니처</p>
                        <p class="car-option">
                          <span>2020년식</span><span>100,444km</span><span>휘발유</span>
                          <span class="date">
                            최초등록일 2020.06.09
                          </span>
                          <span class="grade">사고등급A</span><span class="grade">외관등급 B</span>
                        </p>
                        <div class="car-price">
                          <div class="price">
                            <span class="default-price"><em>2,250</em> <i>만원</i></span>
                            <!-- <span class="purchase-price"><em class="desc">매입가</em><em>2,250</em> <i>만원</i></span> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <div class="btn-status-wrap">
                    <div class="status-box">
                      <span>위탁종료임박</span>
                    </div>
                  </div>
                  <!-- <div class="btn-box-wrap">
                    <div class="btn-box">
                      <button type="button" class="btn-compare"><span></span></button>
                      <button type="button" class="btn-favorite"><span></span></button>
                    </div>
                  </div> -->
                </li>
              </ul>

              <!-- paging-wrap -->
              <div role="navigation" class="paging-wrap">
                <a href="" class="first"><span class="hide-txt">첫페이지</span></a>
                <a href="" class="prev"><span class="hide-txt">이전페이지</span></a>
                <ol>
                  <li class="page-btn"><a href="page=1" class="this">1</a></li>
                  <li class="page-btn"><a href="page=2">2</a></li>
                  <li class="page-btn"><a href="page=3">3</a></li>
                  <li class="page-btn"><a href="page=4">4</a></li>
                  <li class="page-btn"><a href="page=4">5</a></li>
                </ol>
                <a href="" class="next"><span class="hide-txt">다음페이지</span></a>
                <a href="" class="last"><span class="hide-txt">마지막페이지</span></a>
              </div>
              <!-- //paging-wrap -->

            </div>
            <!-- //search-result -->

        </section>

      </article>

      <!-- quick -->
      <!-- <article class="quick" w3-include-html="./include/quick.html"></article> -->
      <!-- //quick -->
    </main>

    <!-- footer -->
    <footer w3-include-html="./include/footer.html"></footer>
    <!-- //footer -->
  </div>
</body>
<script src="../../../assets/pc/js/ui.js"></script>
<script>
  includeHTML(); //퍼블용

  //아코디언
  // const items = document.querySelectorAll(".accordion button");

  // function toggleAccordion() {
  //   const itemToggle = this.getAttribute("aria-expanded");

  //   for (i = 0; i < items.length; i++) {
  //     items[i].setAttribute("aria-expanded", "false");
  //   }

  //   if (itemToggle == "false") {
  //     this.setAttribute("aria-expanded", "true");
  //   }
  // }

  // items.forEach((item) => item.addEventListener("click", toggleAccordion));
</script>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>

</html>