<!-- 탁송 -->
<table>
  <colgroup>
    <col width="60px" />
    <col width="300px" />
    <col width="200px" />
    <col width="90px" />
    <col width="90px" />
    <col width="auto" />
  </colgroup>
  <thead>
    <tr>
      <th>No.</th>
      <th>화면명</th>
      <th>ID</th>
      <th>완료일</th>
      <th>수정일</th>
      <th>비고</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>01</td>
      <td class="cmd">탁송리스트 > 탁송관리</td>
      <td><a href="FP3-DL1100.html" target="_blank">FP3-DL1100.html</a></td>
      <td>23.09.15</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>02</td>
      <td class="cmd">탁송관리 > 일괄 TP배정 (팝업)</td>
      <td><a href="FP3-DL1110.html" target="_blank">FP3-DL1110.html</a></td>
      <td>23.09.15</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>