<!-- 양도 -->
<table>
  <colgroup>
    <col width="60px" />
    <col width="300px" />
    <col width="200px" />
    <col width="90px" />
    <col width="90px" />
    <col width="auto" />
  </colgroup>
  <thead>
    <tr>
      <th>No.</th>
      <th>화면명</th>
      <th>ID</th>
      <th>완료일</th>
      <th>수정일</th>
      <th>비고</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr>
      <td></td>
      <td>레이아웃</td>
      <td><a href="layout.html">layout.html</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr> -->
    <tr>
      <td></td>
      <td>양도 메인</td>
      <td><a href="FP3-BS0000.html" target="_blank">FP3-BS0000.html</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>양도 메인 - 내용없음</td>
      <td><a href="FP3-BS0000_b.html" target="_blank">FP3-BS0000_b.html</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>양도 메인 > 차량검색</td>
      <td><a href="FP3-BS2100.html" target="_blank">FP3-BS2100.html</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>양도 메인 > 차량검색</td>
      <td><a href="FP3-BS2100_b.html" target="_blank">FP3-BS2100_b.html</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>양도 > 차량기본정보 (상세)</td>
      <td><a href="FP3-BS2300.html" target="_blank">FP3-BS2300.html</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <!-- <tr>
      <td></td>
      <td>양도 > 차량기본정보</td>
      <td><a href="FP3-BS2310.html">FP3-BS2310.html</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr> -->
    <!-- <tr>
      <td></td>
      <td class="cmd">공지사항(고객센터 메인)</td>
      <td>
        <a href="FP2-RT2310.html" target="_blank">FP2-RT2310.html</a>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="cmd">공지사항 - 목록</td>
      <td>
        <a href="FP2-RT2310.html" target="_blank">FP2-RT2311.html</a>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="cmd">상세</td>
      <td>
        <a href="FP2-RT2312.html" target="_blank">FP2-RT2312.html</a>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="cmd">자주하는질문</td>
      <td>
        <a href="FP2-RT2310.html" target="_blank">FP2-RT2331.html</a>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>마이페이지</td>
      <td>
        <a href="FP2-RT3100.html" target="_blank">FP2-RT3100.html</a>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr> -->
  </tbody>
</table>